.header span {
    color: rgb(173, 68, 68);
    font-size: 3rem;
    align-items: center;
}

.nav-links a {
    color: rgb(173, 68, 68);
    margin: 20px;
    font-size: 1.5rem;
    
}

.hero {
    background-image: url("../assets/images/emile-perron-xrVDYZRGdw4-unsplash.jpg");
    background-size: cover;
    background-position: center bottom;
    height: 50vh;
}

.hero::after {
    content: "Welcome to My Projects Page";
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 3rem;
    color: rgb(173, 68, 68);
}

main {
    background-color: rgb(183, 184, 185);
}

.projects {
    margin: 20px;
    padding: 20px;
}


.projects-content img {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
}

.main-card {
    margin: 20px;
    padding: 20px;
}

.other-projects {
    margin: 20px;
    padding: 20px;
}





