.header span {
    color: rgb(173, 68, 68);
    font-size: 3rem;
    align-items: center;
}

.nav-links a {
    color: rgb(173, 68, 68);
    margin: 20px;
    font-size: 1.5rem;
    
}

.hero {
    background-image: url("../assets/images/emile-perron-xrVDYZRGdw4-unsplash.jpg");
    background-size: cover;
    background-position: center bottom;
    height: 50vh;
}

.hero::after {
    content: "Welcome to My Portfolio";
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 3rem;
    color: rgb(173, 68, 68);
}

main {
    background-color: rgb(183, 184, 185);
}

.about-me {
    margin: 20px;
    padding: 20px;
}

.about-me-title {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding: 20px;
    color: rgb(173, 68, 68);
}

.about-me-content {
    border-left: 5px solid rgb(173, 68, 68);
}

.projects {
    margin: 20px;
    padding: 20px;
}

.projects-title {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding: 20px;
    color: rgb(173, 68, 68);
}

.projects-content {
    border-left: 5px solid rgb(173, 68, 68);
}


.projects-content img {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
}

.main-card {
    margin: 20px;
    padding: 20px;
}

.main-card img {
    width: 100%;
    object-fit: cover;
}

.other-projects {
    width: 100%;
    margin: 20px;
    padding: 20px;
}

.contact-me {
    margin: 20px;
    padding: 20px;
}

.contact-me-title {
    display: flex;
    justify-content: end;
    color: rgb(173, 68, 68);
    margin-bottom: 20px;
}

.contact-me-content {
    border-left: 5px solid rgb(173, 68, 68);
    justify-content: space-evenly;
    color: rgb(173, 68, 68);
}


.contact-me-content img {
    margin: 20px;
    max-width: 4rem;
}




